/* smooth scorlling when pressing content page on menu bar */
html {
    scroll-behavior: smooth;
  } 
/* adjust fonts */
h1 {color:black;text-align:center;font-family: Verdana, Geneva, sans-serif; font-size: 45px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 35px; }
h2 {color:black;text-align:center;font-family: Verdana, Geneva, sans-serif; font-size: 15px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 35px; }
img {
    display:block;
    margin:auto;
    width: 40%;
}

body {
    background-color: #dbf0f3; 
  }

  .video-container {
    position: relative;
    width: 100%;
    max-width:  100%; /* Optional: Adjust max width */
    margin: 0 auto;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    overflow: hidden;
    justify-content: center;
}


.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

#home {
    scroll-margin-top: 60px; /* Adjust the value as needed */
  }

  #contact {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers vertically */
    align-items: center;     /* Centers horizontally */
    min-height: 100vh;       /* Makes sure it takes up at least the full viewport height */
    text-align: center;      /* Centers text inside the container */
  }
  

  .photo-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    padding: 20px;
    justify-content: center;
}

.photo img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.12s ease-out, box-shadow 0.12s ease-out;
  will-change: transform, box-shadow;

              /* allows for smooth animation */
}
/* creates hover effect for images */
.photo img:hover {
  transform: scale(1.2);  
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); 
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  display: flex;
  animation: fadeIn 0.3s ease-in-out;
}

.modal-content {
  max-width: 90%;
  max-height: 90vh;
  border-radius: 10px;
  box-shadow: 0 6px 10px rgba(255, 255, 255, 0.2);
  transition: transform 0.3s ease-in-out;
}

/* Close Button */
.close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.close-btn:hover {
  color: #f44336;
}

/* Fade-in animation */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}


