html {
    scroll-behavior: smooth;
  }

h1 {color:black;text-align:center;font-family: Verdana, Geneva, sans-serif; font-size: 45px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 35px; }
h2 {color:black;text-align:center;font-family: Verdana, Geneva, sans-serif; font-size: 15px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 35px; }
img {
    display:block;
    margin:auto;
    width: 40%;
}

body {
    background-color: #dbf0f3; 
  }

  .video-container {
    position: relative;
    width: 100%;
    max-width:  100%; /* Optional: Adjust max width */
    margin: 0 auto;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    overflow: hidden;
    justify-content: center;
}


.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

#home {
    scroll-margin-top: 60px; /* Adjust the value as needed */
  }

  #contact {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers vertically */
    align-items: center;     /* Centers horizontally */
    min-height: 100vh;       /* Makes sure it takes up at least the full viewport height */
    text-align: center;      /* Centers text inside the container */
  }
  