h1 {color:black;text-align:center;font-family: Verdana, Geneva, sans-serif; font-size: 45px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 35px; }
h2 {color:black;text-align:center;font-family: Verdana, Geneva, sans-serif; font-size: 15px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 35px; }
img {
    display:block;
    margin:auto;
    width: 40%;
}

body {
    background-color: #effcfe; 
  }